name: "CI"
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  nix:
    runs-on: self-hosted
    strategy:
      matrix:
        system: [aarch64-darwin, aarch64-linux]
    steps:
      - uses: actions/checkout@v4
      - run: nixci --build-systems "github:nix-systems/${{ matrix.system }}" -- --option sandbox false
  # TODO: Remove this job after https://github.com/srid/haskell-flake/issues/241
  linux-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - run: bash ./runtest.sh
  docs-linkcheck:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - run: bash ./doc/test.sh
